* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-family: "oscine", sans-serif;
}

body {
    background-image: url("../assets/images/bg-elefante-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: black;
    color: white;
}

h1, h2, h3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

p {
    line-height: 140%;
    opacity: 80%;
}

header {
    padding-top: 32px;
    text-align: center;
}

.hImg {
    width: 80vw;
    max-width: 500px;
    height: auto;
}

.central {
    /* border: 1px solid white; */
    max-width: 32rem;
    width: 90%;
    margin: 3rem auto;
}


/* Telas Pequenas */

@media (max-width: 600px) {
    header {
        padding-top: 16px;
    }

    .hImg {
    max-width: 300px;
        width: 90vw;
    }

    h2 {
        font-size: 24pt;
    }

    p {
        font-size: 16pt;
    }

}

