* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../assets/images/bg-elefante-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    background-color: black;
    color: white;
}

header {
    padding-top: 32px;
    text-align: center;
}


/* Telas Pequenas */

@media (max-width: 600px) {
    header {
        padding-top: 16px;
    }
}