

:root {

    /* Cores da marca */
    --brand-color: #f7c244;
    --accent-color-1: #f44f16;
    --accent-color-2: #f2727e;
    --sec-color: #f44f16;
    --tri-color: #cad1bf;
    --tri-color-light: #f7f5ed;
    --tri-color-dark: #8da89c;
    --dark-color: #00342a;

    /* Cores da aplicação */
    --task-color-01: rgba(218, 39, 241, 0.4);
    --task-color-02: rgb(37, 21, 255, 0.4);
    --task-color-03: rgb(0, 179, 255, 0.4);
    --task-color-04: rgb(246, 255, 0, 0.4);
    --task-color-05: rgb(255, 145, 0, 0.4);

    --task-late: rgba(17, 12, 11, 0.4);
    --task-done: rgb(65, 179, 0, 0.8);

    --font-title: "oscine", sans-serif;
    --font-text: "Lexend", sans-serif;
   
}

body {

    font-family: 'Arial', sans-serif;
    background-color: #f7f5ed;
    color: #333;
}

/* Títulos */
h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-title);
}

#app {
    display: grid;
    place-content: center;
    place-items: center;
    height: 100vh;
    width: 100%;
    position: relative;
    /* border: #333 2px solid; */

}

#app a {
    /* border: olive 2px solid; */
    padding: 10px;
}

#app  p {
    color: var(--tri-color-dark);
    font-size: 16px;
    text-align: center;
}



.barra {
    margin-block: 20px;
    background-color: var(--tri-color-dark);
    height: 5px;
    width: 33%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.stack-bg {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 1;
    scale: .75;
    opacity: .25;
   /*  width: 200px;
    height: 300px;
    background: var(--tri-color-light);
    border-radius: 32px;
    box-shadow: 0 4px 32px #0002; */
    position: relative;
}

.stack-content {
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

button {
    background-color: var(--brand-color);
    /* color: var(--sec-color); */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-transform: uppercase;
    transition: background-color 0.3s ease,
    transform 0.2s ease;

    a {
        color: white;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.2s ease;
        opacity: .8;
    }
}

button:hover {
    background-color: var(--accent-color-1);
    transform: scale(1.02);

    a {
        color: white;
        opacity: 1;
    }
}

/* Remova grid-column/grid-row de #app > a e #app > p */
/* ...existing code... */