

header {
  /* background-color: var(--brand-color); */
  width: 100%;
  height: auto;
  max-width: 720px;
  margin: 0 auto;
  text-align: center;
}

header img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  
}

body {
    background-color: bisque;
}

main {

}

.temporada {
    margin: 0 auto;
    max-width: 720px;
    height: 4rem;
    background-color: white;
    border-radius: 1rem;
}

.semana {

}

.titulo-semana {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: .5rem 2rem;
    background-color: white;
    border-radius: 1rem 1rem 0 0;
}

.titulo-semana h1 {
    color: var(--brand-color);
    font-weight: 200;
    font-size: 3rem;


     
}


.infos-semana {

}

.actions-semana {

}
